.emoji-picker-react {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  height: 30rem !important;
  width: 100% !important;
  font-family: inherit !important;
  border: 1px solid var(--primary-color) !important;
  box-shadow: none !important;
  margin: 1rem 0 !important;
}

.emoji-picker-react .emoji-categories {
  color: var(--secondary-color) !important;
  background-color: var(--secondary-background-color-light) !important;
}

.emoji-picker-react input.emoji-search {
  width: 100% !important;
  margin: 1rem 0 !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 10px !important;
  box-sizing: border-box !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 1rem !important;
  transition: border 0.1s !important;
  background: var(--secondary-background-color) !important;
  color: var(--secondary-color) !important;
  font-family: inherit !important;
  font-size: inherit !important;
}

.emoji-picker-react .emoji-group:before {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.emoji-picker-react ul.skin-tones-list {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important;
  position: absolute !important;
  top: 2.3rem !important;
  right: 3rem !important;
}