.emoji-container aside.emoji-picker-react {
  background: var(--primary-color);
  color: var(--secondary-color);
  height: 30rem;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--primary-color);
  box-shadow: none;
  margin: 1rem 0;
}

.emoji-container .emoji-picker-react .emoji-categories {
  color: var(--secondary-color);
  background-color: var(--secondary-background-color-light);
}

.emoji-container .emoji-picker-react input.emoji-search {
  width: 100%;
  margin: 1rem 0;
  outline: none;
  box-shadow: none;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  transition: border 0.1s;
  background: var(--secondary-background-color);
  color: var(--secondary-color);
  font-family: inherit;
  font-size: inherit;
}

.emoji-container .emoji-picker-react .emoji-group:before {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.emoji-container .emoji-picker-react ul.skin-tones-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 2.3rem;
  right: 3rem;
}