@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
:root {
  font-family: "Urbanist";
}

.grid-container {
	display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 15rem, repeat(11,1fr);
	grid-template-columns: auto;
	margin: var(--m-0) var(--margin-auto);
}

.grid-container .header {
	width: 100%;
}

.grid-container .main {
	grid-column: 1/13;
	width: 100%;
  min-height: 100vh;
  max-height: max-content;
  overflow: visible;
}

.background-image-container {
  width: 100%;
  height: 70vh;
  background-color: var(--primary-color-dark);
  border-radius: var(--br-2);
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: var(--br-2);
  opacity: 0.8;
}

.slide-active {
  display: block;
}
.slide-inactive {
  display: none;
}

.banner-dot {
  font-size: 1.4rem;
  color: var(--secondary-color);
  position: relative;
  top: -5rem;
}
.active-dot {
  color: var(--secondary-background-color-light);
}

.banner-nav-btn-container {
  font-size: 2.5rem;
  color: var(--secondary-background-color-light);
  position: relative;
  top: -38vh;
  margin: 0 calc(3*var(--m-5));
}

.rui-main--heading-container, .rui-main--sub-heading {
  padding: var(--p-0);
  margin: var(--m-0);
  border-bottom: var(--b-0);
}

.focused > .textbox-label {
	background: var(--secondary-background-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.1rem;
  bottom: 0.1rem;
  background-color: var(--secondary-background-color);
  border-radius: var(--br-circle);
  transition: 0.5s;
}

input:checked + .slider::before {
  transform: translateX(3rem);
}

.horizontal-tabs-content {
	display: block;
}

.vertical-tabs-content {
  display: block;
}

.nav-container {
  padding: var(--p-0);
	z-index: var(--max-z-index);
}

.nav-background {
	height: 100%;	
  grid-column: 1/13;
  grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
}

.nav-content {
  height: 100%;	
  grid-column: 1/6;
  grid-row: 1/13;
}

.grid-container .nav-container {
  grid-column: 1/13;
  grid-row: 1/13;
}

.modal {
	padding: var(--p-0);
	z-index: var(--max-z-index);

}
.modal-background {
  width: 100%;
  height: 100%;	
  grid-column: 1/13;
  grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
  z-index: 8;
}
.modal-content {
  position: absolute;
  z-index: var(--max-z-index);
  background-color: var(--secondary-background-color);
  width: 60rem;
}

.grid-container .modal {
  grid-column: 1/13;
  grid-row: 1/13;
}

/* Habits page */
.category-container {
  height: 100%;
  width: 20%;
}

.habits-container {
  height: 100%;
  width: 80%;
}

.grid-container .habits-content-container {
  padding: 0;
}

.filters {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.habit-form-container {
  background: var(--secondary-background-color);
  width: 32rem;
}

.circle-container {
  width: 4rem;
  height: 4rem;
  border-radius: var(--br-circle);
  background: var(--tertiary-color);
  color: var(--cta-color);
}

.icons {
  font-size: 2rem;
}

.circle-container:hover {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border: 0.1rem solid var(--tertiary-color);
}

.icon-selected {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border: 0.1rem solid var(--tertiary-color);
}

.color-selected {
  border: 0.3rem solid var(--tertiary-color);
}

.habit-form-container .basic-card {
  background-color: var(--primary-color);
}

.habit-form-container .textbox-label {
  background-color: var(--primary-color);
}

.empty-title-container {
  background-color: var(--primary-color);
  width: 20rem;
}

.empty-habit-container {
  width: 30rem;
}

.date-input-container {
  border: 0;
  background: var(--secondary-background-color);
  color: var(--cta-color);
  font-family: inherit;
  font-size: 1.4rem;
}
.area-btn-container {
  display: none;
}

.area-dismiss-container {
  display: none;
}

/* || Calendar Styling */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: var(--secondary-background-color);
  border: 0.1rem solid var(--secondary-background-color);
  color: var(--secondary-color);
  font-family: inherit;
  font-size: 2rem;
  line-height: 1.5rem;
  height: max-content;
  margin: var(--m-5);
  border-radius: var(--br-2);
  padding: 1rem;
}

.react-calendar__navigation {
  width: 100%;
  font-size: 2rem;
  font-family: 'Urbanist', sans-serif;
  text-transform: uppercase;
}
.react-calendar__navigation > *{
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Urbanist', sans-serif;
}
.react-calendar__viewContainer {
  font-size: 2rem;
  font-family: 'Urbanist', sans-serif;
}

.react-calendar__viewContainer > *{
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: inherit;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 1rem;
  text-align: center;
  line-height: 16px;
  font-size: 1.8rem;
  font-family: 'Urbanist', sans-serif;
  color: var(--secondary-color);
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--cta-color);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--disabled-font-color);
}

.react-calendar__tile--active {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border-radius: var(--br-4);
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus, .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border-radius: var(--br-4);
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border-radius: var(--br-4);
}

.react-calendar__tile--now {
  background: var(--tertiary-color);
  color: var(--cta-color);
  border-radius: var(--br-4);
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border-radius: var(--br-4);
}
.react-calendar__tile--hasActive {
  background: var(--secondary-background-color);
  color: var(--secondary-color);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border-radius: var(--br-4);
}

.active-date {
  background: var(--cta-color);
  color: var(--tertiary-color);
  border-radius: var(--br-4);
}

.number-font {
  font-family: 'Urbanist', sans-serif;
}

.habits-detail-container {
  width: 60%;
  height: max-content;
}
.habit-basic-card {
  height: 8rem;
  width: 100%;
}
.streak-container {
  background-color: var(--cta-color);
  color: var(--tertiary-color);
  height: max-content;
  width: 30%;
  border-radius: var(--br-2);
}

.habit-streak-basic-card {
  width: max(8rem, max-content);
}

.note-date {
  width: 8rem;
  height: max-content;
  background-color: var(--primary-color);
  border-radius: var(--br-2);
  line-height: 2.2rem;
}

.note-card {
  width: 100%;
  height: max-content;
  background-color: var(--primary-color);
  border-radius: var(--br-2);
}
.h-max-content {
  height: max-content;
}
@media screen and (max-width: 1180px) {
  .header-nav-icon {
      display: none;
  }
}

@media screen and (max-width: 870px) {
  .basic-card {
      margin: var(--m-2);
  }
}
@media screen and (max-width: 768px) {
  .header-nav-icon{
    display: block;
  }
  .header-nav-icons {
    display: none;
  }
  .grid-container .nav {
		height: 100%;
    width: 22rem;
		grid-column: 1/6;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		z-index: var(--max-z-index);
		visibility: visible;
	}
  .category-container {
    grid-column: 1/13;
    grid-row: 1/13;
    width: 100%;
    height: 120%;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: var(--secondary-background-color);
    z-index: var(--max-z-index);
  }
  .area-btn-container {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: var(--secondary-background-color);
    z-index: var(--max-z-index);
  }

  .area-dismiss-container {
    display: block;
  }
  .habits-container {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .header-them-icons {
    display: none;
  }
  .header-theme-small-icon {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .grid-container .header {
    overflow: visible;
  }
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 650px)  {
  .input-form .input-container {
    margin: var(--m-5);
  }
  .habits-detail-container {
    width: 100%;
  }
  .input-form, .input-form .input-container, .input-form .textbox-content, .input-with-icon {
    width: 30rem;
    height: auto;
    margin: var(--m-3) var(--m-0);
  }
}

