.grid-container .nav-container {
	grid-column: 1/3;
	grid-row: 2/12;
	width: 20rem;
	height: 100%;
}

.nav-container {
	padding: var(--p-0);
	z-index: var(--max-z-index);
}

.nav-background {
	height: 100%;
	grid-column: 1/13;
	grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
	display: none;
}

.nav-content {
	grid-column: 1/3;
	grid-row: 2/12;
	width: 20rem;
	height: 100%;
}

.grid-container .nav {
	grid-column: 1/3;
	grid-row: 2/12;
	width: 20rem;
	height: 100%;
}
.rui-drawer-header {
	display: none;
}

.rui-drawer-links {
	font-size: 1.7rem;
}
