.create-post-container {
	width: 50rem;
	height: 10rem;
}

.post-card {
	width: 50%;
	min-width: 50rem;
	height: auto;
}
.post-card .card-image-container {
	background-color: var(--primary-color);
}

.post-card .banner-nav-btn-container {
	top: -20rem;
}

.post-card .banner-dot {
	top: -2rem;
}

.outline-btn {
	background-color: var(--primary-color);
}

.post-icons {
	font-size: 1.8rem;
}

.border-bottom {
	border-bottom: 0.05rem solid var(--secondary-color);
}

.border-bottom-secondary {
	border-bottom: 0.2rem solid var(--secondary-background-color);
}

.options-container {
	background-color: var(--secondary-background-color);
	color: var(--secondary-color);
	border: none;
	font-size: inherit;
	font-family: inherit;
}

textarea {
	border: none;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none; /*remove the resize handle on the bottom right*/
}
.post-text-container {
	background-color: var(--primary-color);
	font-family: inherit;
	font-size: inherit;
	height: 20rem;
	border: 0.1rem solid var(--primary-color);
	color: var(--secondary-color);
}

.remove-input-file-style {
	display: none;
}
.dropdown-container {
	position: relative;
}
.dropdown {
	position: absolute;
	top: 100%;
	right: -1rem;
	width: 10rem;
	z-index: var(--max-z-index);
	background-color: var(--tertiary-color);
	color: var(--primary-color-light);
}

.dropdown-content:hover {
	background-color: var(--cta-color);
	color: var(--tertiary-color);
}
@media screen and (max-width: 650px) {
	.create-post-container {
		width: 100%;
	}
}
