.profile-card {
	width: 100%;
	height: auto;
}

.background-img {
	height: 40rem;
}

.profile-img {
	height: 12rem;
	width: 12rem;
	font-size: 2.5rem;
	border: 0.3rem solid var(--secondary-color);
	position: absolute;
	top: 50%;
	left: 15%;
}

.user-details {
	margin-top: 5rem;
}
.user-container {
	margin-left: 2rem;
}

.basic-card-primary {
	background-color: var(--primary-color);
}
@media screen and (max-width: 900px) {
	.profile-card {
		width: 100%;
	}
}
